# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx
/node_modules
*.min.js
*.min.css
.next
pnpm-lock.yaml
package-lock.json
yarn.lock
__pycache__
*.pyc
*.pyo
*.class
target/
build/

